@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'BestermindRegular';
  src: url('/fonts/BestermindRegular.ttf');
}

:root {
  --primary: #1F2937;
  --secondary: #111827;
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: var(--secondary) var(--primary);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 15px;
}

*::-webkit-scrollbar-track {
  background: var(--primary);
}

*::-webkit-scrollbar-thumb {
  background-color: var(--secondary);
  border-radius: 15px;
  border: 3px solid var(--primary);
}
